body {
  margin: 0;
  background-color: #181d41;
  font-family: "Avenir Next Regular", sans-serif;
}

.KnightHacksLogo {
  transform: translate(-50%, -50%);
}

.GoHome {
  font-family: "Avenir Next Ultra Light", sans-serif;
  font-size: 1.5vw;
}

.Arrow {
  font-size: 7vw;
  color: #dbc04a;
}
