body {
  margin: 0;
  background-color: #051169;
  font-family: "Avenir Next Regular", sans-serif;
}

.LandingPage {
  background-color: #051169;
}
.KnightHacksLogo {
  text-align: center;
  vertical-align: baseline;
}

.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30rem;
  width: 100%;
}

@font-face {
  font-family: "Avenir Next Regular";
  src: local("AvenirNext-Regular"),
    url("../fonts/avenirnext-regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Avenir Next Ultra Light";
  src: local("AvenirNext-UltraLight"),
    url("../fonts/avenirnext-ultralight.ttf") format("truetype");
  font-weight: normal;
}
