.AboutUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 45px 0;
}

.AboutUsText {
  color: #e5e7eb;
  margin: 0 5vw;
  font-size: 1.5rem;
  line-height: 2;
}
