a:visited {
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  font-family: "Avenir Next Regular", sans-serif;
  text-transform: none;
  font-size: 1.2em;
}

.opaque {
  background-color: #3b3d5b;
  transition: background-color 200ms linear;
}

.transparent {
  background-color: transparent;
  transition: background-color 200ms linear;
}
