.buttons {
  margin-left: auto;
}

.button {
  font-family: "Avenir Next", sans-serif;
  text-transform: none;
  font-size: 1em;
}

.opaque {
  color: rbg(196, 196, 196, 0.2);
  transition: background-color 200ms linear;
}

.transparent {
  background-color: transparent;
  transition: background-color 200ms linear;
}
