.CalendarContainer {
  margin-left: 5vw;
  margin-right: 5vw;
}

.AccordionCard {
  border-radius: 10px !important;
  margin-bottom: 20px;
}

.Heading {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 1.5em;
  flex-shrink: 0;
}

.Secondary {
  font-family: "Avenir Next Ultra Light", sans-serif;
  font-size: 1.3em;
  color: gray;
}
