.CalendarContainer {
  margin: 0 20vw;
}

.AccordionCard {
  border-radius: 10px !important;
  margin-bottom: 30px;
}

.Expanded {
  margin-bottom: 30px;
}

.AccordionCard:hover {
  background: linear-gradient(90deg, #1890FF 1.5%, #FFFFFF 0%);
}

.AccordionContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.AccordionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.AccordionSchedule {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.EventTitle {
  font-family: "Avenir Next Regular", sans-serif;
  font-size: 1.5em;
  padding: 0 5px;
}

.EventDate {
  margin: 0 25px;
  padding: 1vw;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 4vmin;
}

.EventMonth {
  font-size: 20px;
  margin-left: 10px;
}

.EventTime {
  padding: 0px 10px;
}

.EventDescription {
  font-family: "Avenir Next Ultra Light", sans-serif;
  font-size: 1.3em;
  padding: 0px 10px;
  color: gray;
}
