.Newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.Newsletter_Header {
  margin-top: 0;
  font-family: "Avenir Next Ultra Light";
}

.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.Email-Signup {
  text-align: center;
  color: white;
}

.Email-Field {
  color: white;
}

.Email-Submit {
  margin-top: 20px;
}

.Email-Error {
  color: red;
}
