.rec.rec-arrow {
  border-radius: 60%;
  background-color: #dbc04a !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: none;
}

.rec-dot {
  background-color: #dbc04a !important;
}
.rec-dot_active,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #dbc04a !important;
}
