.rec.rec-arrow {
  border: none;
  background: transparent;
  margin: 0;
}

.Subtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  width: 100%;
}
.Teams {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TeamCard {
  font-family: "Avenir Next Regular", sans-serif;
  width: 76%;
}

.TeamPicture {
  padding-top: 100%;
  padding-bottom: 10px;
}
.Major {
  padding-left: 16px;
  padding-bottom: 5px;
  font-size: 13px;
}
.Iconlink {
  font-size: 35px;
  padding-left: 8px;
  padding-right: 2px;
}

.rec.rec-arrow {
  border-radius: 60%;
  background-color: #dbc04a !important;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec-carousel-item:focus {
  outline: none;
  box-shadow: none;
}

.rec-dot {
  background-color: #dbc04a !important;
}
.rec-dot_active,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #dbc04a !important;
}
.Links {
  padding-top: 0px;
}

.TeamSubtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  width: 100%;
}

.Members {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Avenir Next Ultra Light";
  color: white;

  margin-bottom: 50px;
}

.ClubMembers,
.ClubDirectors {
  font-size: 2rem;
  text-align: center;
  margin: 0 15px;
}

.MemberSubtitle {
  margin: 0;
  font-size: 1.5rem;
}

.Counter {
  margin-bottom: 0;
}
.Icon {
  height: -50px;
}
.TeamHeader {
  padding-bottom: 0px;
}
