.rec.rec-arrow {
  border: none;
  background: transparent;
  margin: 0;
}

.Subtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3rem;
  width: 100%;
}
.Teams {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2.5rem;
}
.TeamCard {
  font-family: "Avenir Next Regular", sans-serif;
  width: 76%;
}

.TeamPicture {
  padding-top: 100%;
  padding-bottom: 10px;
}
.Major {
  padding-left: 16px;
  padding-top: -10px;
  padding-bottom: 5px;
  font-size: 13px;
}
.Iconlink {
  font-size: 35px;
  padding-left: 8px;
}
.Iconlink2 {
  padding-left: 10px;
  font-size: 35px;
}
/*
button.rec-dot {
  outline: #dbc04a;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(59, 59, 42, 0.5);
}

button.rec-arrow {
  background-color: rgb(235, 219, 8);
  box-shadow: 0 0 1px 3px rgba(219, 192, 74);
  outline: none;
}
 button.rec-arrow:hover {
  outline: #dbc04a;
  background-color: #dbc04a;
}
*/
.Links {
  padding-top: 0px;
}

.TeamSubtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  width: 100%;
}

.Members {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Avenir Next Ultra Light";
  color: white;

  margin-bottom: 50px;
}

.ClubMembers,
.ClubDirectors {
  font-size: 2rem;
  text-align: center;
  margin: 0 15px;
}

.MemberSubtitle {
  margin: 0;
  font-size: 1.5rem;
}

.Counter {
  margin-bottom: 0;
}
.Icon {
  height: -50px;
}
.TeamHeader {
  padding-bottom: 0px;
}
